.square {
  background: #fff;
  border: 1px solid #000080;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  cursor: pointer;
}
.square:focus {
  outline: none;
}
.square:hover {
  border: 3px solid black;
}
.ship {
  background: pink;
}
.hit {
  background: crimson;
  border: 1px solid #fff;
}
.hit::after {
  content: "x";
}
.miss {
  background: #ccc;
  border: 1px solid #fff;
  pointer-events: none;
}
.miss::after {
  content: "O";
}
@media screen and (max-width: 350px) {
  .square {
    width: 1.7rem;
    height: 1.7rem;
  }
}
