.square {
  background: #fff;
  border: 1px solid #000080;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  position: relative;
  cursor: pointer;
}
.square:focus {
  outline: none;
}
.playership {
  background: pink;
}
.hit {
  background: crimson;
  border: 1px solid #fff;
  pointer-events: none;
}
.hit::after {
  content: "x";
}
.miss {
  background: #ccc;
  border: 1px solid #fff;
  pointer-events: none;
}
.miss::after {
  content: "O";
}
